<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/dashboard/dashboard.css" rel="stylesheet" type="text/css">

    <link href="/css/control/control.css" rel="stylesheet" type="text/css">
    <link href="/css/dashboard/insights/insights.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Control</title>
</head>
<body>
    <div class="container">
        <%- include ('sidebar.ejs') %>
        <%- include ('modal/control/modal-add-bot.ejs') %>
        <%- include ('modal/control/modal-edit-bot.ejs') %>
        <%- include ('modal/control/modal-save-add.ejs') %>
        <%- include ('modal/control/modal-save-edit.ejs') %>

        <!-- Day la doan  a code-->

        <main>
            <!-- <%- include ('table/table-control.ejs') %> -->
            <div class="content-add-control">
                <div class="header-control">
                    <div class="title-header-control">

                        <div>
                            <p>Control</p>
                        </div>
                    </div>
                    <div class="controller-header-control">
                        <div class="box-controller-header-control">
                            <%- include ('top-right/top.ejs') %>
                        </div>
                    </div>
                    
                </div>
                
                <div class="content-control">
                    <div class="controller-content-control">
                        <button value="+ Add control" class="addControl" onclick="openBoxAdd()"> + Add control </button>
                        <button value="- Delete control" class="deleteControl"> - Delete control </button>
                    </div>
                    <!-- <%- include ('table/table-control.ejs') %> -->
                    <%- include ('table/table-control.ejs') %>
                    <div class="list-page">
                        <ul>
                            <li><span class="material-symbols-outlined">
                                arrow_back_ios
                                </span></li>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>...</li>
                            <li>9</li>
                            <li><span class="material-symbols-outlined">
                                arrow_forward_ios
                                </span></li>
                        </ul>
    
                    </div>
                </div>
            </div>
        </main>

        <!-- ket thuc doan  a code-->
        <script src="/js/dashboard/dashboard.js" type="text/javascript"></script>
        <!-- <script src="/js/control/control.js" type="text/javascript"></script> -->
        <script>
            function openBoxAdd(){
                document.getElementById('box-add-bot').style.display = 'block'
            }
            function closeBoxAdd(){
                document.getElementById('box-add-bot').style.display='none'
            }
            function openBoxSaveAdd(){
                document.getElementById('modal-save-bot-add').style.display = 'block'
            }
            function openBoxEdit(){
                document.getElementById('box-edit-bot').style.display = 'block'
            }
            function closeBoxEdit(){
                document.getElementById('box-edit-bot').style.display = 'none'
            }
            function closeBoxSaveAdd(){
                // document.getElementById('modal-save-bot-add').style.display = 'none'
                // document.getElementById('box-add-bot').style.display='none'
                alert("Hello")
            }

            action-control
        </script>
    </div>
</body>
</html>